@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya+Sans&family=Inter:wght@700;900&display=swap');

body{
    background: linear-gradient(90deg, #F7D5B8 0%, #8EDDDB 100%);
    padding-bottom: 2%;
}

#cuadrotortica{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 22px;
}
#tortica{
    margin-top: 33px;
    width: 242;
    height: 230px;
}

#click{
    width: 72px;
    height: 76px;
}

.header{
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.cajita{
    display: inline-block;
    width: 185px;
    height: auto;    
    background: rgba(255, 255, 255, 0.80);
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 195px;
    margin-right: 195px;
}


h3{
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
}

#cuadradito{
    width: 290px;
    height: 105px;    
    border: 4px solid #000000;
}

h2{
    vertical-align: middle;
    text-align: center;
    font-family: 'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}







.container{
    display: flex;
}

.text_left{
    width: 550px;
    height: 703px;
    margin-left: 82px;
    margin-right: 119px;
}


#texto_principal{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Alegraya Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 37.5px;
    font-style: normal;
}

#texto_secundario{
    margin-top: 0px;
    font-family: 'Abel',Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.cajitagrande{
    width: 657px;
    height: 689px;
    margin-right: 77px;
    background: rgba(255, 255, 255, 0.80);
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
}

h1{
    font-family: 'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 70px;
}

label{
    display: block;
    margin-left: 64px;
    margin-bottom: 37px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
}

input{
    border-radius: 15px;
    width: 300px;
    height: 64px;
    margin-left: 20px;
    background: #9FDCD6;
    border: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Abel',Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-left: 20px;
}

#registrar{
    align-content: center;
    justify-content: center ;
}
#register{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    background: rgba(247, 213, 184, 0.6);
    margin-left: 152px;
}

#register:hover{
    background: rgb(36, 116, 221);
    color: white;
    transform: translateY(-4px);
}

.cajita:hover{
    background: rgb(36, 116, 221);
    color: white;
    transform: translateY(-4px);
}

/* form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
} */
/* .renglon{
    display: flex;
    justify-content: space-between;
} */