body{
  background: linear-gradient(90deg, #D8DBE1 0%, #2A3A5F 68.12%);
}

.fila{
  display: flex;
  flex-direction: row;
}

.card {
    width: 492px;
    height: auto;
    padding: 2em;
    margin: 1em;
    margin-left: 4em;
    margin-right: 3em;
    background: #1F1F1F;
    transition: 1s ease-in-out;
    clip-path: polygon(50px 0%, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0% 50px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .card span {
    /*font-weight: bold;*/
    text-align: center;
    display: block;
    padding-top: 0.5em;
    margin: auto;

    width: 207px;
    height: 58px;
    
    font-family: 'Inter';
    /*font-style: normal;*/
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    color: white;
  }
  
  .card .info {
    width: 434px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 31px;
    text-align: justify;
    /*margin-bottom: 0;*/
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
    
    color: #FFFFFF;
  }
  
  .card .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
    background: white;
    border-radius: 15px;
    margin: auto;
    
  }

  .card .img:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 4px 8px, rgba(255, 255, 255, 0.2) 0 7px 13px -3px, #ededf9 0 -3px 0 inset;
    transform: translateY(-4px);
}
  
  .card .share {
    text-align: center;
    margin-top: 1em;
  }
  
  .card a {
    color: white;
    transition: .4s ease-in-out;
    text-decoration: none;
  }
  
  .card a:hover {
    color: rgb(36, 116, 221);
  }
  
  .card button {
    width: 191px;
    height: 71px;

    font-family: 'Inter bold';
    font-style:normal;
    font-weight: 700;
    font-size: 26px;

    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    margin-top: 1em;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card button:hover {
    background: rgb(36, 116, 221);
    color: white;
    transform: translateY(-4px);
  }

  .container{
    margin: 1em;
    display:grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 320px 320px;
    grid-row: auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;

  }

  .box{
    /*width: 364.25px;
    height: 320px;*/
    background: #FE8B92;
    border-radius: 20px;
    align-items: left;
    padding-left: 1em;
    padding-right: 1em;
  }

/*
  #disenos{
    background: #D9D9D9;
    border-radius: 20px;
    margin: 1em;
  }

  #consultas{    
    margin: 1em;
    background: #D9D9D9;
    border-radius: 20px;
  }

  #talleres{
    margin: 1em;
    background: #D9D9D9;
    border-radius: 20px;
  }

  #retos{
    margin: 1em;
    background: #D9D9D9;
    border-radius: 20px;
  }*/

  .tabla{
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    margin: 18px;
    color: #000000;
  }

  .list{
    list-style-type: square;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 33px;
  }
